.product{
    border: 1px solid black;
    width: 25%;
    border: 1px solid var(--grey);
    border-radius: 0.4rem;
}

.info{
    padding: 0.5rem;
}

.down-part{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center
}

